.ff-raleway {
  font-family: var(--font-raleway);
}

.display-XXL {
  font-size: 12.194rem;
  word-wrap: break-word;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .display-XXL {
    font-size: 10rem;
  }
}

@media (max-width: 900px) {
  .display-XXL {
    font-size: 8rem;
  }
}

@media (max-width: 600px) {
  .display-XXL {
    font-size: 4rem;
  }
}


.text-break-word {
  word-wrap: break-word;
  white-space: pre-wrap;
}

